:root {
    --primary-text-color: #434455;
    --hero-tatle-color: #ffffff;
    --title-text-color: #2e2f42;
    --accent-color: #4d5ae5;
    --background-color: #f4f4fd;
  }

  body {
    color: var(--primary-text-color);
    background-color: var(--hero-tatle-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.11;
    letter-spacing: 0,72px;
    text-transform: capitalize;
  }
  a {
    text-decoration: none;
    color: currentColor;
  }
  button {
    cursor: pointer;
    font-family: inherit;
  }
  address {
    font-style: normal;
  }
  img {
    display: block;
  }
  .list {
    list-style-type: none;
  } /*у класса list уберет маркеры в списке*/
  .link {
    text-decoration: none;
  }
  .visually-hidden,
.read-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}
  /* ================ HEADER ================ */
